{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<span class="label label-default">Reading Types</span>
<div class="btn-group" role="group" aria-label="...">
  <a role="button" type="button" class="btn btn-default" href="{{ path('new_reading_type') }}">New</a>
  <a role="button" type="button" class="btn btn-default" href="{{ path('readingtype_list') }}">View</a>
</div>
{% endblock %}
